{% extends "base.html" %}

{% block content %}
<h1>Topsoil Test App</h1>
<p>echo</p>
<ul>
    <li><a href="/echo.html">HTML</a></li>
    <li><a href="/api/echo.xml">XML</a></li>
    <li><a href="/api/echo.json">JSON</a></li>
</ul>

<p>places</p>
<ul>
    <li><a href="/places">Places</a> (<a href="/api/places.xml">XML</a>)</li>
    <li><a href="/places/add">Add Place</a></li>
</ul>

<p>OAuth</p>
<ul>
    <li><a href="/oauth_clients">Your OAuth Clients</a></li>
    <li><a href="/oauth_clients/new">Register New OAuth Client</a></li>
    <li><a href="/oauth_clients/connections">Applications Connected to Your Account</a></li>
</ul>
{% endblock %}
